.. meta::
    :description lang=en:
        xlSlim needs a modern version of Windows and Excel. Only 64-bit is supported.

Software Requirements
=====================

.. _DotNet8: https://dotnet.microsoft.com/en-us/download/dotnet/8.0

xlSlim requires:
 * Microsoft Windows 8+
 * Microsoft Excel 2010+

For external Python environments, xlSlim supports:
 * Python 3.7
 * Python 3.8
 * Python 3.9
 * Python 3.10
 * Python 3.11
 * Python 3.12 

xlSlim v 1.0 to v 4.0.2
-----------------------

xlSlim requires:
 * Microsoft .Net Framework 4.8+

xlSlim v 5.0+
-------------

xlSlim requires:
 * Microsoft .Net 8.0+ (You can run `dotnet --list-runtimes` to see which .Net runtimes are installed.) xlSlim needs Microsoft.NETCore.App 8.x and Microsoft.WindowsDesktop.App 8.x The runtimes may be downloaded from `DotNet8`_. The .Net Desktop Runtime is the required download.

.. note:: 
    xlSlim is **64-bit only**. It will only work with 64-bit Excel and Python.